$paleta: (
    'azul': #3c46b4,
    'blanco': #FBF5F3,
    'negro': #0C0C0C,
    'rojo': red,  
)

/*header*/

.justify-content-end {
    justify-content: flex-end!important;
}

.navbar-light .navbar-nav .nav-link {
    color: map-get($map: $paleta, $key: 'blanco' );
    font-size: 1.6em;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: map-get($map: $paleta, $key: 'azul');
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: map-get($map: $paleta, $key: 'negro') !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: map-get($map: $paleta, $key: 'rojo');
    border: map-get($map: $paleta, $key: 'rojo');
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}



header {
    display: flex;
    justify-content: space-between;
    background-color: var(--principal);
    grid-area: header;

    .logo {
        width: 10%;
    }
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        z-index: 1;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        padding: 1em!important;
    }

    .menu__item {
        color: map-get($map: $paleta, $key: 'blanco');
        font-weight: bold;
        border-bottom: 2px solid map-get($map: $paleta, $key: 'negro');
        transition: border-bottom .3s ease-in-out;
    }

    .menu__item:hover {
        border-bottom: 2px solid map-get($map: $paleta, $key: 'rojo');
    }
}

.menu .menu__item .menu__link {
    font-size: 1.6em;
    padding: 1rem;
} 

